---
layout: default
title: Home
slug: home
lead: "The Midwest&rsquo;s Premier Cycling Team"
description: "One of the largest &amp; most successful cycling clubs in the midwest for riders of all ages &amp; ability levels."
---
<div class="row">
  <div class="alert alert-danger" role="alert"><strong>North Aurora Crit Update:</strong> Men Cat 1/2/3 to start at 10:30 AM with 50+ Men &amp; Cat 1/2/3 Women</div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default quickies">
          <div class="panel-heading">
            <h3 class="panel-title">Upcoming Events</h3>
          </div>
          <div class="panel-body">
            <!--
            <span class="quickies-date">Every Wednesday Evening</span>
            <h5><a href="/events/trainingcrits/">Wednesday Evening Training Criteriums</a></h5>
            -->
            {% for event in site.data.events %}
            {% for _date in event.dates %}
            {% capture eventtime %}{{ _date | date: '%F' }}{% endcapture %}
            {% capture nowtime %}{{ site.time | date: '%F' }}{% endcapture %}
            {% if eventtime != "TBD" and eventtime >= nowtime %}
            <span class="quickies-date">{{ _date | date: '%Y.%m.%d' }}</span>
            {% if event.url contains '://' %}
            <h5><a href="{{ event.url }}" target="_blank" rel="noopener noreferrer">{{ event.name }}</a></h5>
            {% elsif event.startlist contains '://' %}
            <h5><a href="{{ event.url }}">{{ event.name }}</a> - <a href="{{ event.startlist }}" target="_blank" rel="noopener noreferrer">Start List</a></h5>
            {% elsif event.reglink contains '://' %}
            <h5><a href="{{ event.url }}">{{ event.name }}</a> - <a href="{{ event.reglink }}" target="_blank" rel="noopener noreferrer">Registration</a></h5>
            {% else %}
            <h5><a href="{{ event.url }}">{{ event.name }}</a></h5>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endfor %}
            <!--
            <p class="read-more"><a href="/events/">See all events &rarr;</a></p>
            -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default quickies">
          <div class="panel-heading">
            <h3 class="panel-title">Mileage Report</h3>
          </div>
          <div class="panel-body">
            <iframe allowtransparency frameborder='0' height='160' scrolling='no' src='https://www.strava.com/clubs/1740/latest-rides/e9b60f0fa6f5a95c2c639becf4b151b02872dc89?show_rides=false' width='100%'></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default quickies">
          <div class="panel-heading">
            <h3 class="panel-title">Latest News</h3>
          </div>
          <div class="panel-body">
            <div class="fb-page" data-href="https://www.facebook.com/abdcycling" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/abdcycling" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/abdcycling">ABD Cycling Club</a></blockquote></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
