<footer role="contentinfo">
    <div class="container">
        <ul class="sponsors">
            <li><a href="/sponsors/ppc" class="ppc-sm"></a></li>
            <li><a href="/sponsors/trek" class="trek-sm"></a></li>
            <li><a href="/sponsors/bontrager" class="bontrager-sm"></a></li>
            <li><a href="/sponsors/pactimo" class="pactimo-sm"></a></li>
            <li><a href="/sponsors/orange" class="orange-sm"></a></li>
            <li><a href="/sponsors/brogans" class="brogans-sm"></a></li>
            <li><a href="/sponsors/hoving" class="hoving-sm"></a></li>
        </ul>
        <p class="text-muted text-center">Copyright &copy; {{ site.time | date: '%Y' }} Athletes By Design</p>
    </div>
</footer>

<script src="/assets/js/bootstrap.min.js"></script>

</div><!-- ._body .container -->
</body>
</html>
