<footer role="contentinfo">
  <div class="container">
    <ul class="sponsors">
      <li><a href="/sponsors/ppc/" class="ppc-sm"></a></li>
      <li><a href="/sponsors/trek/" class="trek-sm"></a></li>
      <li><a href="/sponsors/bontrager/" class="bontrager-sm"></a></li>
      <li><a href="/sponsors/pactimo/" class="pactimo-sm"></a></li>
      <li><a href="/sponsors/orange/" class="orange-sm"></a></li>
      <li><a href="/sponsors/brogans/" class="brogans-sm"></a></li>
      <li><a href="/sponsors/hoving/" class="hoving-sm"></a></li>
    </ul>
    <br />
    <p class="text-muted text-center">Copyright &copy; 2010-{{ site.time | date: '%Y' }} Athletes By Design</p>
    <br />
    <p class="text-muted text-center small">Last Updated: <span class="last-updated"></span></p>
  </div> <!-- .container -->
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

{% include scripts.html %}

</div> <!-- .page-body -->
</body>
</html>
