<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Athletes By Design">
    <meta name="no-email-collection" content="https://www.unspam.com/noemailcollection">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="{% if page.slug == "home" %}website{% else %}article{% endif %}">
    <meta property="og:image" content="{{ site.url }}/assets/img/logo.png">
    <meta property="og:description" content="{{ page.description }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@abdcycling">
    <meta name="twitter:creator" content="@abdcycling">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ site.url }}/assets/img/logo.png">
    <meta itemprop="name" content="{{ page.title }}">
    <meta itemprop="description" content="{{ page.description }}">
    <meta itemprop="image" content="{{ site.url }}/assets/img/logo.png">
    <link rel="publisher" href="https://www.google.com/+Abdcyclingteam">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <title>
      {% if page.slug == "home" %}{{ site.title }}
      {% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}
    </title>
    <link href="/assets/css/abdcycling.min.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    {% if page.slug == "roster" or page.slug == "results" %}
    <link href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
    {% endif %}
    {% if page.slug == "media" %}
    <link href="/assets/css/plusgallery.min.css" rel="stylesheet" type="text/css">
    {% endif %}
    <!--[if lt IE 9]>
    <script src="/assets/js/ie8-responsive-file-warning.js"></script>
    <![endif]-->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/assets/js/ie-emulation-modes-warning.js"></script>
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="icon" href="/assets/ico/favicon.ico">
  </head>
  <body>
    <div class="page-body">
      <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
      <header class="navbar navbar-fixed-top navbar-default" id="top" role="banner">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".abd-navbar-collapse">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">{{ site.title }}</a>
          </div> <!-- .navbar-header -->
          <nav class="collapse navbar-collapse abd-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
              <li{% if page.slug == "home" %} class="active"{% endif %}><a href="/">Home</a></li>
              <li{% if page.slug == "news" %} class="active"{% endif %}><a href="/news/">News</a></li>
              <li{% if page.slug == "about" %} class="active"{% endif %}><a href="/about/">About</a></li>
              <li{% if page.slug == "join" %} class="active"{% endif %}><a href="/join/">Join</a></li>
              <li{% if page.slug == "roster" %} class="active"{% endif %}><a href="/roster/">Roster</a></li>
              <li{% if page.slug == "events" %} class="active"{% endif %}><a href="/events/">Events</a></li>
              <li{% if page.slug == "results" %} class="active"{% endif %}><a href="/results/">Results</a></li>
              <li{% if page.slug == "sponsors" %} class="active"{% endif %}><a href="/sponsors/">Sponsors</a></li>
              <li{% if page.slug == "media" %} class="active"{% endif %}><a href="/media/">Media</a></li>
              <li{% if page.slug == "contact" %} class="active"{% endif %}><a href="/contact/">Contact</a></li>
            </ul>
          </nav>
        </div> <!-- .container -->
      </header>
      {% if page.slug == "home" %}
      <div class="masthead" id="content">
      {% else %}
      {% if page.slug == 404 %}
      <div class="fourOhfourhead" id="content">
      {% else %}
      <div class="pagehead" id="content">
      {% endif %}
      {% endif %}
        <div class="container">
          {% if page.slug == "home" %}
          <img src="/assets/img/biglogo.png" />
          {% else %}
          <h1>{{ page.title }}</h1>
          {% endif %}
          {% if page.lead %}
          {% if page.slug == "events" %}
          {% capture year_now %}{{ site.time | date: '%Y' }}{% endcapture %}
          <p class="lead">{{ page.lead | replace: '!YEAR!', year_now }}</p>
          {% else %}
          <p class="lead">{{ page.lead }}</p>
          {% endif %}
          {% else %}
          <p class="lead">{{ page.date | date: '<span class="glyphicon glyphicon-time"></span> %Y.%m.%d @ %H:%M:%S' }}</p>
          {% endif %}
        </div> <!-- .container -->
      </div> <!-- .masthead || .fourOhfourhead || pagehead -->
