<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
{% if page.slug == "roster" or page.slug == "results" %}
<script src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
<script>
  $(document).ready(function () {
    $('table').dataTable({
      paging: false,
      searching: false,
      "order": [[3, "desc"]]
    });
  });
</script>
{% endif %}
{% if page.slug == "media" %}
<script src="/assets/js/plusgallery.min.js"></script>
<script>
  $(document).ready(function() {
    $('#plusgallery').plusGallery();
  });
</script>
{% endif %}

<script>
  $.ajax({
    type: 'GET',
    url: 'https://api.github.com/repos/abdcycling/abdcycling.github.io',
    success: function(data) {
      $('.last-updated').html(data.pushed_at);
    }
  });
</script>
