<div class="panel panel-default sidebar-widget">
  <div class="panel-heading">
    <h4>Proudly Presented By</h4>
  </div>
  <div class="panel-body">
    <a href="http://www.prairiepathcycles.com/">
      <img src="/assets/img/sponsors/ppc.png" class="img-responsive">
    </a>
  </div>
</div>

<div class="panel panel-default sidebar-widget">
  <div class="panel-heading">
    <h4>Subscribe</h4>
  </div>
  <div class="panel-body">
    <p class="small">Receive ABD event updates (registration, start times, results, &amp; news)</p>
    <form role="form" action="http://groups.google.com/group/abdcycling/boxsubscribe">
      <div class="form-group">
        <label class="sr-only" for="email">Email address</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
      </div>
      <button type="submit" name="sub" class="btn btn-primary btn-block">Subscribe</button>
    </form>
  </div>
</div>

<div class="panel panel-default sidebar-widget">
  <div class="panel-heading">
    <h4>Ride Along With Us</h4>
  </div>
  <div class="panel-body">
    <ul class="social">
      <li><a href="{{ site.author.twitter }}"><i class="fa fa-twitter"></i></a></li>
      <li><a href="{{ site.author.facebook }}"><i class="fa fa-facebook"></i></a></li>
      <li><a href="{{ site.author.googleplus }}"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="{{ site.author.youtube }}"><i class="fa fa-youtube"></i></a></li>
    </ul>
  </div>
</div>

<div class="panel panel-default visible-md visible-lg sidebar-widget">
  <a class="twitter-timeline" href="https://twitter.com/ABDCycling" data-widget-id="472275427474411520">Tweets by @ABDCycling</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
