<div class="sidebar-widget">
    <h4 class="sidebar-widget-title">Subscribe</h4>
    <p><small>Receive ABD updates on registration deadlines, start times, &amp; results.</small></p>
    <form role="form" action="http://groups.google.com/group/abdcycling/boxsubscribe">
        <div class="form-group">
        <label class="sr-only" for="email">Email address</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <button type="submit" name="sub" class="btn btn-primary btn-block">Subscribe</button>
    </form>
</div>

<div class="sidebar-widget">
    <h4 class="sidebar-widget-title">Ride Along With Us</h4>
    <ul class="social">
        <li><a href="http://www.facebook.com/abdcycling" class="facebook-sprite" title="Facebook"></a></li>
        <li><a href="https://plus.google.com/u/0/b/112886249020749336787/112886249020749336787/about" class="google-sprite" title="Google+"></a></li>
        <li><a href="#" class="rss-sprite" title="RSS Feed"></a></li>
        <li><a href="http://www.twitter.com/abdcycling" class="twitter-sprite" title="Twitter"></a></li>
        <li><a href="http://www.youtube.com/abdcycling" class="youtube-sprite" title="Twitter"></a></li>
    </ul>
</div>

<div class="sidebar-widget visible-md visible-lg">
    <a class="twitter-timeline"  href="https://twitter.com/ABDCycling" data-widget-id="472275427474411520">Tweets by @ABDCycling</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
