---
layout: default
title: Roster
slug: roster
lead: "ABD Cycling's full membership list"
description: "A current roster displaying all active members of the Athletes By Design Cycling Club and their racing information."
---
<table id="roster-table" class="table table-striped">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th class="text-center">Category</th>
      <th class="text-center">Racing Age</th>
    </tr>
  </thead>
  <tbody>
    {% capture year_now %}{{ site.time | date: '%Y' }}{% endcapture %}
    {% for rider in site.data.roster %}
    <tr>
      <td>{{ rider.l }}</td>
      <td>{{ rider.f }}</td>
      <td class="text-center">{{ rider.c }}</td>
      {% if rider.d %}
      {% capture year_birth %}{{ rider.d | date: '%Y' }}{% endcapture %}
      <td class="text-center">{{ year_now | minus:year_birth }}</td>
      {% else %}
      <td></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
