---
layout: default
title: Events
slug: events
lead: "2023 event schedule"
description: "Racing, training, and rides event schedule hosted by Athletes By Design Cycling Club."
---
<h3>Races</h3>
<div class="list-group events-list">
  {% for event in site.data.events %}
  <a href="{{ event.url }}" class="list-group-item">
    {% if event.url contains 'http' %}
    <span class="glyphicon glyphicon-new-window pull-right"></span>
    {% endif %}
    <h4 class="list-group-item-heading">{{ event.name }}</h4>
    <p class="list-group-item-text">
      <span class="glyphicon glyphicon-calendar"></span>
      {% for _date in event.dates %}
      {% if forloop.first %}
      <time datetime="{{ _date | date: '%Y-%m-%d' }}">{{ _date | date: '%b. %d' }}</time>
      {% else %}
      &nbsp;|&nbsp;&nbsp;<time datetime="{{ _date | date: '%Y-%m-%d' }}">{{ _date | date: '%b. %d' }}</time>
      {% endif %}
      {% endfor %}
      <br />
      {{ event.lead }}
    </p>
  </a>
  {% endfor %}
</div>

<h3>Training Races &amp; Rides</h3>
<div class="list-group events-list">
  <a href="https://www.strava.com/activities/2365636288" class="list-group-item">
    <h4 class="list-group-item-heading">Monday Night Recovery Ride</h4>
    <p class="list-group-item-text">
      <!-- <span class="glyphicon glyphicon-calendar"></span> 6:00 PM -->
      <span class="glyphicon glyphicon-calendar"></span> TBD for 2023 
      <br />
      15-16 MPH pace, no drop, ride used as recovery or learning how to ride in
      a pack - Starts from Prairie Path Cycles in Winfield, IL. LAST RIDE:
      TBD
      <br />
      <strong class="text-primary">CLICK FOR ROUTE MAP!</strong>
    </p>
  </a>
  <a href="https://www.strava.com/routes/2826857388150540288" class="list-group-item">
    <h4 class="list-group-item-heading">Wednesday Evening Club Ride</h4>
    <p class="list-group-item-text">
      <span class="glyphicon glyphicon-calendar"></span> TBD for 2023 
      <br />
      20+ MPH pace, DROP, ride used for advanced-level training - Starts from
      Prairie Path Cycles in Batavia, IL.
      <br />
      <strong class="text-primary">CLICK FOR ROUTE MAP!</strong>
    </p>
  </a>
  <a href="https://www.strava.com/routes/2830285456954504910" class="list-group-item">
    <h4 class="list-group-item-heading">Sunday Club Ride - Batavia PPC</h4>
    <p class="list-group-item-text">
      <span class="glyphicon glyphicon-calendar"></span> TBD for 2023 
      <br />
      40+ mile, Zone 2 ride. Long, steady, distance, training ride.
      <br />
      <strong class="text-primary">CLICK FOR ROUTE MAP!</strong>
    </p>
  </a>
  <a href="https://fvbsc.org/swedishdays" class="list-group-item">
    <h4 class="list-group-item-heading">Swedish Day's Ride</h4>
    <p class="list-group-item-text">
      <span class="glyphicon glyphicon-calendar"></span> TBD for 2023 
      <br />
      Refer to the club mailing list &amp; Facebook for ABD specific
      organization.
    </p>
  </a>
  <a href="/events/rides/" class="list-group-item">
    <h4 class="list-group-item-heading">Tour de Cure</h4>
    <p class="list-group-item-text">
      <span class="glyphicon glyphicon-calendar"></span> TBD for 2023 
      <br />
      Refer to the club mailing list &amp; Facebook for ABD specific
      organization.
    </p>
  </a>
  <a href="/events/rides/" class="list-group-item">
    <h4 class="list-group-item-heading">4th of July Metric Century</h4>
    <p class="list-group-item-text">
      <span class="glyphicon glyphicon-calendar"></span> TBD for 2023 
      <br />
      Refer to the club mailing list &amp; Facebook for ABD specific
      organization.
    </p>
  </a>
  <a href="/events/rides/" class="list-group-item">
    <h4 class="list-group-item-heading">Ride Across Wisconsin (RAW)</h4>
    <p class="list-group-item-text">
      <span class="glyphicon glyphicon-calendar"></span> TBD for 2023 
      <br />
      Refer to the club mailing list &amp; Facebook for ABD specific
      organization.
    </p>
  </a>
</div>
