---
layout: default
title: Events
slug: events
lead: "2018 event schedule"
description: "Racing, training, and rides event schedule hosted by Athletes By Design Cycling Club."
---
<h3>Races</h3>
<div class="list-group events-list">
  {% for event in site.data.events %}
  <a href="{{ event.url }}" class="list-group-item">
    {% if event.url contains 'http' %}
    <span class="glyphicon glyphicon-new-window pull-right"></span>
    {% endif %}
    <h4 class="list-group-item-heading">{{ event.name }}</h4>
    <p class="list-group-item-text">
      <span class="glyphicon glyphicon-calendar"></span>
      {% for _date in event.dates %}
      {% if forloop.first %}
      <time datetime="{{ _date | date: '%Y-%m-%d' }}">{{ _date | date: '%b. %d' }}</time>
      {% else %}
      &nbsp;|&nbsp;&nbsp;<time datetime="{{ _date | date: '%Y-%m-%d' }}">{{ _date | date: '%b. %d' }}</time>
      {% endif %}
      {% endfor %}
      <br />
      {{ event.lead }}
    </p>
  </a>
  {% endfor %}
</div>

<h3>Training Races &amp; Rides</h3>
<div class="list-group events-list">
  <a href="/events/rides/" class="list-group-item">
    <h4 class="list-group-item-heading">Monday Night Recovery Ride</h4>
    <p class="list-group-item-text">
      <span class="glyphicon glyphicon-calendar"></span> Every Monday, May 21 -
      September 10 @ 6PM
      <br />
      14-18 MPH pace, no drop, ride used as recovery or learning how to ride in
      a pack - Starts from Prairie Path Cycles in Winfield, IL
    </p>
  </a>
  <a href="/events/trainingcrits/" class="list-group-item">
    <h4 class="list-group-item-heading">Wednesday Night Training Criteriums</h4>
    <p class="list-group-item-text">
    <!--
      <span class="glyphicon glyphicon-calendar"></span> Every Wednesday, May -
      August
    -->
      <span class="glyphicon glyphicon-calendar"></span> CANCELLED UNTIL FURTHER
      NOTICE
      <br />
      Criterium-styled training races for riders of all ages and abilities
    </p>
  </a>
  <a href="/events/rides/" class="list-group-item">
    <h4 class="list-group-item-heading">Wednesday Evening Club Ride</h4>
    <p class="list-group-item-text">
      <span class="glyphicon glyphicon-calendar"></span> Every Wednesday, April
      4 - August 29 @ 6PM
      <br />
      20+ MPH pace, DROP, ride used for advanced-level training - Starts from
      Prairie Path Cycles in Batavia, IL
    </p>
  </a>
  <a href="/events/rides/" class="list-group-item">
    <h4 class="list-group-item-heading">Sunday Club Ride - Winfield PPC</h4>
    <p class="list-group-item-text">
      <span class="glyphicon glyphicon-calendar"></span> Every Sunday, May 6 -
      September 2 @ 8AM
      <br />
      24 Mile Loop (shorter routes available)- All rider levels welcome. 2 slower paced rides will also leave at the same
      time &amp; place. Everyone starts at the same time &amp; finishes at the
      same time
    </p>
  </a>
  <a href="/events/rides/" class="list-group-item">
    <h4 class="list-group-item-heading">Sunday Club Ride - Batavia PPC</h4>
    <p class="list-group-item-text">
      <span class="glyphicon glyphicon-calendar"></span> Every Sunday, April 22 -
      September 2 @ 7:30AM
      <br />
      40+ mile, Zone 2 ride. Long, steady, distance, training ride.
    </p>
  </a>
  <a href="/events/rides/" class="list-group-item">
    <h4 class="list-group-item-heading">Tour de Cure</h4>
    <p class="list-group-item-text">
      <span class="glyphicon glyphicon-calendar"></span> Sunday, June 10, 2018
      <br />
      Charity ride. Ride leader TBD. Refer to club mailing list for further
      information.
    </p>
  </a>
  <a href="/events/rides/" class="list-group-item">
    <h4 class="list-group-item-heading">Swedish Day's Ride</h4>
    <p class="list-group-item-text">
      <span class="glyphicon glyphicon-calendar"></span> Sunday, June 24, 2018
      <br />
      ABD Team Start @ 7AM. Ride leader TBD. Refer to club mailing list for
      further information.
    </p>
  </a>
  <a href="/events/rides/" class="list-group-item">
    <h4 class="list-group-item-heading">4th of July Metric Century</h4>
    <p class="list-group-item-text">
      <span class="glyphicon glyphicon-calendar"></span> Wednesday, July 4, 2018
      <br />
      ABD Team Start @ 7:30AM. Ride leader TBD. Refer to club mailing list for
      further information.
    </p>
  </a>
  <a href="/events/rides/" class="list-group-item">
    <h4 class="list-group-item-heading">Ride Across Wisconsin (RAW)</h4>
    <p class="list-group-item-text">
      <span class="glyphicon glyphicon-calendar"></span> Saturday, August 11,
      2018
      <br />
      ABD Team Start @ 6AM (must have lights). Ride leader: Ross Browne. Refer
      to club mailing list for further information.
    </p>
  </a>
</div>
